@import "variables";
@import "mixins";
// RESET
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
}
// BASIC
body, html {
  background-color: $background-color;
  color: $font-color;
  font-family: $paragraph-font;
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5 {
  font-family: $header-font;
  text-transform: uppercase;
}
h1 {
  font-size: $header1-font-size;
  font-weight: bold;
}
h2 {
  font-size: $header2-font-size;
  font-weight: normal;
}
h3 {
  font-size: $header3-font-size;
  font-weight: normal;
}
h4 {
  font-size: $header4-font-size;
  font-weight: normal;
}
h5 {
  font-size: $header5-font-size;
  font-weight: normal;
}
h6 {
  font-size: $header6-font-size;
  font-weight: normal;
}
p {
  font-size: $paragraph-font-size;
  font-weight: lighter;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: $links-color;
}
a:focus {
  outline: 0;
}
a:hover {
  color: $links-hov-color;
}
ul {
  list-style: none;
}
nav {
  display: none;
}
button, input[type="submit"] {
  font-family: $button-font;
  font-size: $button-font-size;
  font-weight: lighter;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(173,0,58,1);
  color: rgba(255,255,255,1);
  box-shadow: 0px .5px 1px  rgba(0,0,0,.7);
  padding: 10px;
  border-radius: 5px;
}
header {
  color: $header-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  box-shadow: 0px .5px 1px $header-boxshadow-color;
  h1 {
    margin: 15px;
  }
}
main {
  background-color: $main-background-color;
}
footer {
  font-size: $footer-font-size;
  display: flex;
  flex-direction: column;
  background-color: $footer-background-color;
  text-transform: capitalize;
  padding: 20px;
}
form {
  padding-bottom: 20px;
  input, textarea {
    width: 100%;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    border-radius: 5px;
  }
}
#ftheme {
  display: none;
}
#loader {
  width: 100%;
  height: 100vh;
  background-color: rgba(34,34,34,0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  .loader-spinner {
    border-radius: 50%;
    border: 5px solid rgba(34,34,34,1);
    border-top: 5px solid rgba(255,255,255,1);
    border-bottom: 5px solid rgba(255,255,255,1);
    width: 100px;
    height: 100px;
    background-color: rgba(34,34,34,0);
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

#map {
  height: 500px;
  width: 90%;
  margin: 0 auto;
}

#markets, #story, #news {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
}

#story {
  background-color: rgba(0,0,0,.6);
  color: rgba(255,255,255,1);
  width: 75%;
}

#news {
  padding: 0;
  background-color: rgba(0,0,0,.1);
  &>h2 {
    padding-top: 50px;
    padding-bottom: 5px;
  }
  &>p {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}


// MAIN BANNER
.banner, .clients {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: $banner-height;
  width: 100%;

  .banner-content[data-id="0"] {
    background-image: url($banner-image_1);
  }
  .banner-content[data-id="1"] {
    background-image: url($banner-image_2);
  }
  .banner-content[data-id="2"] {
    background-image: url($banner-image_3);
  }
  .banner-content {
    transform: translate3d(0,0,0);
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    p {
      text-shadow: 0px .5px 1px rgba(34,34,34,1);
      color: rgba(255,255,255,1);
      font-size: 15px;
    }
    h2 {
     color: rgba(173,0,58,1);
     font-size: 20px;
    }
    &> * {
      width: 40%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      text-align: center;
      opacity: 0;
    }
    button {
      width: 200px;
    }
  }

  .current {
    display: flex;
  }

  .velocity-animating {
    display: flex;
  }

  .banner-controls-left,.banner-controls-right, .clients-controls-left, .clients-controls-right {
    width: 40px;
    height: 40px;
    position: absolute;
    background-position: center;
    background-size: cover;
    transform-origin: 50% 50%;
    transition: transform .5s;
    z-index: 88;
    &:hover {
      transform: scale(1.2);
    }
  }
  .banner-controls-left {
    background-image: url($banner-prev-button);
    left: 5%;
  }
  .banner-controls-right {
    background-image: url($banner-next-button);
    right: 5%;
  }
}

.flex-wrapper {
  display: flex;
}
.contact-header, .clients {
  background-color: rgba(255,255,255,1);
  padding: 10px;
  p, h2 {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    color: rgba(34,34,34,1);
  }
  p:last-child {
    font-size: 14px;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    font-weight: bold;
  }
}
.form-wrapper {
  width: 100%;
  background-color: rgba(0,0,0,1);
  padding: 20px;
  color: rgba(255,255,255,1);
  ul {
    list-style: none;
    li {
      display: flex;
      align-items: center;
      img {
        margin: 5px;
      }
    }
  }
}
.map-form-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,1);
}

.banner-right {
  width: 25%;
  background-image: url($banner-bg-image_2);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
.banner-left {
  width: 25%;
  background-image: url($banner-bg-image_1);
  background-position: left;
  background-size: cover;
  filter: grayscale(100%);
}

.content {
  width: 75%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.news-list {
  list-style: none;
  flex-wrap: wrap;

  h4 {
    font-size: 25px;
    padding: 10px;
    text-align: left;
    margin: 0 10px;
  }
  li {
    margin-bottom: 20px;
    display: inline-block;
  }
  li>img:first-child {
    width: 100%;
  }
  .news-info {
    padding: 10px;
    margin: 0 10px;
    p {
      font-size: 12px;
    }
    .news-user, .news-date {
      align-items: center;
      img, p {
        margin: 5px 10px 5px 0;
        text-transform: capitalize;
      }
    }
  }
  .news-stats {
    justify-content: space-between;
    padding: 5px;
    margin: 0 10px;
    .news-views, .news-likes {
      align-items: center;
      img, p {
        margin: 5px 10px 5px 0;
        text-transform: capitalize;
      }
    }
  }
  .news-short {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    text-align: left;
    margin: 0 10px;
  }
}
// NAVIGATION
.header-nav-wrapper {
  position: fixed;
  width: 100%;
  background-color: $transparent-color;
  transition: background-color .3s;
  z-index: 99;
}
.nav-item {
  width: 100%;
  height: 50px;
  box-shadow: 0px .5px 1px $nav-items-boxshadow-color;
  margin-top: 2px;
  background-color: rgba(0,0,0,.7);
  transition: background-color .3s;
  border-radius: 0;
  &:hover {
    background-color: $background-color;
    color: $nav-items-text-hov-color-sm;
    box-shadow: none;
  }
}
nav li:last-child .nav-item {
  box-shadow: 0px 1px 1px $nav-items-last-boxshadow;
}
.toggle-nav {
  background-color: $transparent-color;
  border: 3px solid $header-button-border-color;
  box-shadow: none;
  border-radius: 50%;
  padding: 8px;
  flex-shrink: 0;
  margin: 10px;
  transition: border-color 1s;
  .icon-part {
    display: block;
    margin: 5px auto;
    height: 3px;
    width: 30px;
    border: 0;
    border-radius: 2px;
    background-color: $header-button-icon-part-color;
    transition: background-color 1s;
  }
}
.nav-open {
  border-color: $header-button-pressed-border-color;
  .icon-part {
    background-color: $header-button-pressed-icon-part-color;
  }
  animation: button_rotate_open .4s both ease-in;
  .icon-part:nth-child(1) {
    animation: button_part_open .4s both ease-in;
  }
  .icon-part:nth-child(3) {
    animation: button_part2_open .4s both ease-in;
  }
}
.nav-close {
  animation: button_rotate_close .4s both ease-out;
  .icon-part:nth-child(1) {
    animation: button_part_close .4s both ease-in;
  }
  .icon-part:nth-child(3) {
    animation: button_part2_close .4s both ease-in;
  }
}

@keyframes button_rotate_open {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes button_rotate_close {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes button_part_open {
  0% {}
  50% {
    transform: translateY(8px);
  }
  100% {
    width: 20px;
    transform: rotateZ(30deg) translateX(6px);
  }
}

@keyframes button_part2_open {
  0% {}
  50% {
    transform: translateY(-8px);
  }
  100% {
    width: 20px;
    transform: rotateZ(-30deg) translateX(6px);
  }
}

@keyframes button_part_close {
  0% {
    width: 20px;
    transform: rotateZ(30deg) translateY(5px) translateX(6px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    width: 30px;
    transform: rotateZ(0deg) translateX(0px);
  }
}

@keyframes button_part2_close {
  0% {
    width: 20px;
    transform: rotateZ(-30deg) translateY(-5px) translateX(6px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    width: 30px;
    transform: rotateZ(0deg) translateX(0px);
  }
}

.banner-short {
  width: 100%;
  min-height: 100px;
  background-color: rgba(81,81,81,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  p {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  button {
    height: 50px;
    width: 30%;
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
  }
}

.gallery-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &:hover {
      .gallery-item-info {
        opacity: 1;
        h4 {
          letter-spacing: normal;
          user-select: none;
        }
      }
      img {
        filter: grayscale(100%);
        transform: scale(1.2);
      }
    }
    .gallery-item-info {
      justify-content: space-around;
      background-color: rgba(255,255,255,0);
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: 50%;
      transition: opacity 1s;
      opacity: 0;
      h4 {
        width: 80%;
        margin: 35px auto;
        text-align: center;
        font-size: 10vh;
        text-transform: uppercase;
        color: rgba(255,255,255,1);
        text-shadow: 0px .5px 1px rgba(34,34,34,1);
        transition: letter-spacing 1s;
        letter-spacing: 15px;
      }
    }
    img {
      width: 100%;
      height: auto;
      transition: filter, transform 1s;
    }
  }
}

.fetures-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 100%;
    &:hover {
      .fetures-list-item {

      }
    }
    .fetures-list-item {
      background-color: rgba(34,34,34,1);
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fetures-list-info {
      color: rgba(34,34,34,1);
      width: 60%;
      margin: 30px auto;
      text-align: center;
      h4 {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
  }
}

.clients {
  height: auto;
  h2 {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 30px;
  }
  .clients-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    opacity: 0;
  }
  .clients-controls-left {
    background-image: url($clients-prev-button);
    left: 5%;
  }
  .clients-controls-right {
    background-image: url($clients-next-button);
    right: 5%;
  }
  .current {
    display: flex;
  }
}

.sponsors {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(255,255,255,.8);
  overflow: hidden;
}
.copyrights {
  display: flex;
  padding: 30px;
  background-color: $footer-background-color;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: $links-color;
}
.before-footer {
  height: 10px;
  background: $background-color;
}
.footer-logo {
  font-family: $header-font;
  font-size: $header2-font-size;
  width: 100%;
  padding: 15px;
  h3 {
    margin-bottom: 10px;
  }
}
.footer-logo-short {
  font-size: 60px;
  font-weight: bold;
  display: block;
  color: $background-color;
}
.footer-logo-short-content {
  width: 90px;
  height: 90px;
  letter-spacing: 5px;
  display: flex;
  background-color: $footer-logo-background-color;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.footer-links {
  width: 100%;
  padding: 15px;
  ul {
    list-style: none;
  }
}
.footer-link-withicon {
  display: flex;
  a {
    margin: 4px;
  }
  img {
    margin: 2px 5px 2px 0px;
  }
}

.scrolling {
  background-color: $nav-background-color;
  header {
    color: $header-text-scrolling-color;
  }
  .toggle-nav {
    border-color: $header-button-scrolling-border-color;
  }
  .icon-part {
    background-color: rgba(255,255,255,1);
  }
}
.outline {
  &:focus {
    outline: 2px solid $outline-color;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .scrolling {
    .nav-item {
      color: $nav-items-text-scrolling-color;
    }
  }
  .banner {
    .banner-content {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .banner-short {
    flex-direction: row;
    button {
      height: 40%;
      font-size: 18px;
      width: 15%;
    }
  }
  .toggle-nav {
    display: none;
  }
  .header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
  .nav-item {
    height: 100%;
    width: auto;
    padding: 20px;
    background-color: $transparent-color;
    color: $nav-items-text-color;
    box-shadow: none;
    &:hover {
      background-color: $transparent-color;
      color: $nav-items-text-hov-color;
    }
  }
  .news-list {
    li {
      width: 50%;
      padding: 20px 10px 20px 10px;
    }
  }
  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: 50%;
    }
  }
  .fetures-list {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: 25%;
      .fetures-list-item {
        width: 100px;
        height: 100px;
      }
      .fetures-list-info {
        p,h4 {
          font-size: 15px;
        }
      }
    }
  }

  .copyrights {
    justify-content: space-around;
  }

  header {
    display: inline-block;
    color: $header-transparent-text-color;
    box-shadow: none;
  }
  nav {
    display: block !important;
    ul {
      li {
        display: inline-block;
      }
      height: 100%;
      li:first-child {
        margin-left: 15px;
      }
      li:last-child {
        margin-right: 15px;
        .nav-item {
          box-shadow: none;
        }
      }
    }
  }
  footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .banner-right {
    width: 40%;
  }
  .banner-left {
    width: 60%;
  }
  .content {
    width: 40%;
    p {
      width: 60%;
      margin: 0 auto;
    }
  }
  #markets {
    p,h4 {
      width: 60%;
      margin: 0 auto;
    }
  }

  #story {
    width: 60%;
    p {
      width: 60%;
      margin: 0 auto;
    }
  }
  .map-form-wrapper {
    flex-direction: row;
  }
  #map {
    width: 70%;
  }
  .form-wrapper {
    width: 30%;
  }
}
